#root,
body,
html {
    height: 100%;
    margin: 0;
}

body {
    background: black;
}

/* .MuiCard-root {
    background: rgba(255, 255, 255, 0.15) !important;
    color: white !important;
}
.MuiCardContent-root {
    color: white !important;
} */
